/lib/
/BotNet/target/
/Engine/target/
/JBotNetClient/target/
/Message/target/
/Play/target/
/Runner/target/
/ScriptHandler/target/
/UserManager/target/
/Util/target/
/old_libs/
/old_tests/
/out/
/logs/
*.class
/dist/lib/
/temp/
/target/
