/lib/
/out/
/logs/
*.class
/dist/lib/extras-jaxb/activation-1.1.1.jar
/dist/lib/ant-1.10.7.jar
/dist/lib/ant-antlr-1.10.7.jar
/dist/lib/ant-junit-1.10.7.jar
/dist/lib/ant-launcher-1.10.7.jar
/dist/lib/bsf-2.4.0.jar
/dist/lib/bsh-1.2b5.jar
/dist/lib/codemodel.jar
/dist/lib/commons-cli-1.4.jar
/dist/lib/commons-logging-1.2.jar
/dist/lib/dtd-parser.jar
/dist/lib/FastInfoset.jar
/dist/lib/gnu-regexp-1.1.3.jar
/dist/lib/gpars-1.2.1.jar
/dist/lib/groovy-3.0.3.jar
/dist/lib/groovy-ant-3.0.3.jar
/dist/lib/groovy-astbuilder-3.0.3.jar
/dist/lib/groovy-bsf-3.0.3.jar
/dist/lib/groovy-cli-commons-3.0.3.jar
/dist/lib/groovy-cli-picocli-3.0.3.jar
/dist/lib/groovy-console-3.0.3.jar
/dist/lib/groovy-datetime-3.0.3.jar
/dist/lib/groovy-dateutil-3.0.3.jar
/dist/lib/groovy-docgenerator-3.0.3.jar
/dist/lib/groovy-groovydoc-3.0.3.jar
/dist/lib/groovy-groovysh-3.0.3.jar
/dist/lib/groovy-jaxb-3.0.3.jar
/dist/lib/groovy-jmx-3.0.3.jar
/dist/lib/groovy-json-3.0.3.jar
/dist/lib/groovy-jsr223-3.0.3.jar
/dist/lib/groovy-macro-3.0.3.jar
/dist/lib/groovy-nio-3.0.3.jar
/dist/lib/groovy-servlet-3.0.3.jar
/dist/lib/groovy-sql-3.0.3.jar
/dist/lib/groovy-swing-3.0.3.jar
/dist/lib/groovy-templates-3.0.3.jar
/dist/lib/groovy-test-3.0.3.jar
/dist/lib/groovy-test-junit5-3.0.3.jar
/dist/lib/groovy-testng-3.0.3.jar
/dist/lib/groovy-xml-3.0.3.jar
/dist/lib/groovy-yaml-3.0.3.jar
/dist/lib/hamcrest-core-1.3.jar
/dist/lib/istack-commons-runtime.jar
/dist/lib/istack-commons-tools.jar
/dist/lib/ivy-2.5.0.jar
/dist/lib/jackson-annotations-2.10.3.jar
/dist/lib/jackson-core-2.10.3.jar
/dist/lib/jackson-databind-2.10.3.jar
/dist/lib/jackson-dataformat-yaml-2.10.3.jar
/dist/lib/jansi-1.18.jar
/dist/lib/javaparser-core-3.15.17.jar
/dist/lib/javax.activation-api.jar
/dist/lib/javax.servlet-api-3.0.1.jar
/dist/lib/jaxb-api.jar
/dist/lib/extras-jaxb/jaxb-api-2.3.0.jar
/dist/lib/extras-jaxb/jaxb-core-2.3.0.1.jar
/dist/lib/extras-jaxb/jaxb-impl-2.3.0.1.jar
/dist/lib/jaxb-jxc.jar
/dist/lib/jaxb-runtime.jar
/dist/lib/jaxb-xjc.jar
/dist/lib/jcommander-1.72.jar
/dist/lib/jline-2.14.6.jar
/dist/lib/jsp-api-2.0.jar
/dist/lib/jsr166y-1.7.0.jar
/dist/lib/junit-4.13.jar
/dist/lib/junit-jupiter-api-5.6.0.jar
/dist/lib/junit-jupiter-engine-5.6.0.jar
/dist/lib/junit-platform-commons-1.6.0.jar
/dist/lib/junit-platform-engine-1.6.0.jar
/dist/lib/junit-platform-launcher-1.6.0.jar
/dist/lib/multiverse-core-0.7.0.jar
/dist/lib/MyProject-20200514.jar
/dist/lib/opentest4j-1.2.0.jar
/dist/lib/org.abego.treelayout.core-1.0.1.jar
/dist/lib/qdox-1.12.1.jar
/dist/lib/relaxng-datatype.jar
/dist/lib/rngom.jar
/dist/lib/snakeyaml-1.24.jar
/dist/lib/ST4-4.1.jar
/dist/lib/stax-ex.jar
/dist/lib/testng-6.14.3.jar
/dist/lib/txw2.jar
/dist/lib/xsom.jar
/dist/lib/xstream-1.4.11.1.jar
