grant {
  permission java.net.SocketPermission
               "*:1024-65535",
               "connect,accept,resolve";
  permission java.net.SocketPermission
               "*:80", "connect";
  permission java.net.SocketPermission
               "127.0.0.1:1099", "connect,resolve";
};

grant {
    permission java.io.FilePermission "C:\\Users\\Warren\\IdeaProjects\\Javabot_TOS\\config\\javabot.properties", "read";
};

grant {
    permission java.util.PropertyPermission "user.home", "read";
};

grant {
    permission java.util.PropertyPermission "javabot.properties.file", "read";
};

grant {
    permission java.lang.RuntimePermission "shutdownHooks";
};

grant codeBase "file:/c:/users/warren/ideaprojects/jbotnet/serve/" {
    permission java.security.AllPermission;
};

